* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

#contenedor {
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

h1 {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
}

nav {
    text-align: right;
    background-color: rgb(0, 0, 0);
}

a {
    color: rgb(255, 255, 255);
}

h2 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
}

img {
    margin: auto;
    display: block;
    border-radius: 6px;
}

table {
    margin: auto;
}

footer {
    text-align: center;
    color: rgb(180, 179, 179);
    background-color: rgb(0, 0, 0);
}